<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu primeiro App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h4>Configurando entrada (Floating, fixed e stacked)</h4>
  <ion-item>
    <ion-label position="stacked">Nome :</ion-label>
    <ion-input placeholder="Digite aqui ..:"></ion-input>
  </ion-item>

  <h4>Entrada de dados (value, placeholder e clearinput</h4>
  <ion-item>
    <ion-label>Nome :</ion-label>
    <ion-input clearinput="Digite aqui ..:"></ion-input>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Direitos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>
